@model AuthenticationModel


@using (Html.BeginForm())
{
    <h2>Entrar</h2>
    <div class="form-group">
        <label>Login</label>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Digite seu e-mail", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group" style="margin-bottom:39px;">
        <label>Senha</label>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Digite sua senha", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <input class="btn btn-lg btn-primary btn-block" type="submit" name="Entrar" value="Entrar" />
}
