body {
    font-family: "Roboto", sans-serif;
}

.page {
    padding: 20px;
}

.info-usuario img {
    display: inline-block;
}

.info-usuario {
    text-align: right;
    margin-top: 8px;
}

    .info-usuario h1 {
        font-size: 18px;
        font-weight: 500;
    }

    .info-usuario p {
        color: #767676;
        font-weight: 400;
    }

.header-usuario {
    padding: 60px 0 40px 0;
}

    .header-usuario h2 {
        font-size: 38px;
        font-weight: 500;
    }


.flutuacao {
    position: relative;
    left: -120px;
    top: -80px;
    margin-top: 20px;
}


.user-intro {
    padding: 40px 40px 0 40px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}