body {
    font-family: "Roboto", sans-serif;
}

.page {
    padding: 20px;
}

.info-usuario img {
    display: inline-block;
}

.info-usuario {
    text-align: right;
    margin-top: 8px;
}

    .info-usuario h1 {
        font-size: 18px;
        font-weight: 500;
    }

    .info-usuario p {
        color: #767676;
        font-weight: 400;
    }

.header-usuario {
    padding: 60px 0 40px 0;
}

    .header-usuario h2 {
        font-size: 38px;
        font-weight: 500;
    }


.flutuacao {
    position: relative;
    left: -120px;
    top: -80px;
    margin-top: 20px;
}


.user-intro {
    padding: 40px 40px 0 40px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.mask {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.mask-header {
    width: 65px;
    height: 65px;
}

.user-picture {
    max-width: 100%;
}

.navbar-nav .nav-item:last-of-type {
    position: absolute;
    bottom: 0;
    margin-left: 70px;
}

.modal-content {
    border-radius: 2rem;
}

.modal-body {
    padding: 30px;
    min-height: 100px;
}

    .modal-body h3 {
        color: #8960FF;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .modal-body strong {
        color: #767676;
    }

    .modal-footer {
        background-color: white;
        border-radius: 2rem;
        border-width: 0;
    }

    .modal-footer button {
        margin: auto;
        font-size: 20px;
        width: 170px;
    }
        .modal-footer button.no {
            background-color: #767676;
            border: 0;
            color: white;
            font-weight: bold;
            border-radius: 20px;
        }

        .modal-footer button.yes {
            background-color: #8960FF;
            border: 0;
            color: white;
            border-radius: 20px;
        }