@model List<SelectListItem>
@{
    ViewData["Title"] = "D.Grau - Busca";
}

<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
<link href="~/css/layout/painel-aluno.css" rel="stylesheet" />

<div class="search-category col-md-12">
    <h1>
        <img src="~/img/pesquisar-icon.png" />
        <span>Pesquisar</span>
    </h1>
    @Html.DropDownList("CategoryId", Model, "Selecione o curso")
</div>
<div class="header-online col-md-12">
    <img class="icon" src="~/img/bandeira.png">
    <span class="header-online-title">Mentores online</span>
    <div id="available-mentors">

    </div>
</div>
<div class="header-online col-md-12">
    <img class="icon" src="~/img/agenda.png" width="35">
    <span class="header-online-title">Mentorias disponíveis</span>
    <div id="available-courses">

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/select2/select2.min.js"></script>
<script>
    $("#CategoryId").select2({
        width: '100%'
    });

    $("#CategoryId").on("change", function () {
        var value = $(this).val();
        $.ajax({
            url: '@Url.Action("GetCurrentAvailableSchedules", "Schedule")',
            type: 'GET',
            cache: false,
            data: { categoryId: value }
        }).done(function (result) {
            $('#available-mentors').html(result);
            $("#available-mentors .col-md-4").each(function (index) {
                $(this).removeClass("col-md-4").addClass("col-md-2");
            });
        });

        $.ajax({
            url: '@Url.Action("GetCategoryAvailableSchedules", "Schedule")',
            type: 'GET',
            cache: false,
            data: { categoryId: value }
        }).done(function (result) {
            $('#available-courses').html(result);
        });
    })
</script>
<style>

    .mentor-modelo {
        background-color: #F0F0F0;
    }

    .mentores-online h2 {
        position: absolute;
        top: 38px;
        left: 90px;
        color: #767676;
        font-weight: 400;
        font-size: 24px;
    }

    .header-online {
        margin-top: 50px;
    }

        .header-online .icon {
            margin-top: -15px;
        }

    .header-online-title {
        color: #767676;
        font-size: 2em;
        margin-left: 30px;
    }

    .search-category h1 {
        margin-bottom: 30px;
    }

        .search-category h1 span {
            margin-left: 20px;
            padding-top: 5px;
        }

    .select2-container--default .select2-selection--single {
        height: 70px;
        display: block;
        margin: 0 auto;
        background-color: #EEEEEE;
        border: none;
        border-radius: 20px;
        padding: 30px;
        padding-top: 23px;
        font-size: 18px;
        padding-left: 70px;
        background: #EEEEEE url(../../img/icon-curso.png) no-repeat scroll 21px 46%;
        background-size: 31px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            color: #757575;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            background-color: #8960ff;
            height: 70px;
            width: 70px;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow b {
                border-color: white transparent transparent transparent;
                border-width: 10px;
                left: 41%;
            }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent white transparent;
        border-width: 10px;
        top: 33%;
        left: 43%;
    }

    .select2-container--open .select2-dropdown--below {
        background: #EEEEEE;
        border: 0;
        padding: 0 10px;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        background: #f5f5f5;
    }

    .select2-results__options {
        font-size: 1.2em;
    }

    .row.user-intro h2 {
        visibility: hidden;
    }
</style>