@model List<HackathonCCR.MVC.Models.Schedule.UserSchedule>
<link href="~/css/layout/painel-aluno.css" rel="stylesheet" />

@foreach (var item in Model)
{
    <div class="col-md-4 mentor-modelo">
        <img src="data:image/png;base64,@item.PartnerPicture" class="partner-picture"><br/>
        <span class="nome">@item.PartnerFirstName</span>
        <p>@item.Course</p>
    </div>
}

<script>
    $(document).ready(function () {
        $(".modelo-agenda").each(function (index) {
            var color = $(this).data('color');
            $(this).css('border-color', color);
        })
    });
</script>

<style>
    .mentores-online .mask {
        width: 50px;
        height: 50px;
    }
</style>