@model List<HackathonCCR.MVC.Models.Schedule.UserSchedule>
@{
    ViewData["Title"] = "D.Grau - Mentor";
}
<link href="~/css/layout/aluno-logado.css" rel="stylesheet" />
<link href="~/lib/chart/chart.css" rel="stylesheet" />

<section class="agenda-mentoria container">
    <div class="header-agenda col-md-12">
        <img src="~/img/icon-agenda.png" alt="">
        <h3>Mentorias agendadas</h3>
        <a href="#"><img class="plus" src="~/img/icon-plus.png" alt=""></a>
    </div>

    <div class="lista-mentores">
        @foreach (var item in Model)
        {
            <div class="row mentoria">
                <div class="col-md-7">
                    <div style="float: left" class="mask">
                        <img src="data:image/png;base64,@item.PartnerPicture" class="partner-picture">
                    </div>
                    <div class="info-mentor">
                        <h1>@item.PartnerName</h1>
                        <span class="course">@item.Course</span>
                    </div>
                </div>
                <div class="col-md-2 agendamento hora">
                    <h3 class="cabecalho">Horário</h3>
                    <span class="dados">@item.ScheduleTime</span>
                </div>

                <div class="col-md-3 agendamento data">
                    <h3 class="cabecalho">Data</h3>
                    <span class="dados">@item.ScheduleDate</span>
                </div>
            </div>
        }

    </div>
</section>

<section class="container">
    <div class="horas-complementares">
        <div class="header-horas">
            <img src="~/img/icon-relogio.png" alt="">
            <h2>Horas complementares</h2>
        </div>
        <div class="row">
            <div class="dados-horas col-md-6">
                <img src="~/img/retangulo-roxo.png" alt="">
                <p class="roxo">Horas obtidas: 150h</p>
                <img src="~/img/retangulo-cinza.png" alt="">
                <p class="cinza">Horas restantes: 0h</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>