@{
    ViewData["Title"] = "D.Grau";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/img/favicon.ico" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/layout/style.css">
</head>

<body>
    <header class="menu">
        <div class="container">
            <div class="row">
                <a class="menu-logo col-md-4" href="@Url.Action("Index", "Home")">
                    <img src="~/img/logo.png" width="200" />
                </a>
                <nav class="menu-nav col-md-8">
                    <ul>
                        <li class="btn-white">@Html.ActionLink("Entrar", "Login", "Authentication")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <div class="intro-2 col-md-6">
                <h1>Descubra a sua próxima profissão!</h1>
                <p>Cadastre-se aqui e converse com as pessoas da carreira que você quer conhecer</p>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        @Html.ActionLink("Estudante", "RegisterDiscover", "Authentication")
                        <div>
                            <span>Conheça profissionais de várias áreas</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        @Html.ActionLink("Mentor", "RegisterMentor", "Authentication")
                        <div>
                            <span>Compartlhe sua experiência e ganhe recompensas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro col-md-6">
                <img src="~/img/estudante.png" alt="">
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <p class="col-md-4">All rights reserved © Copyright 2021</p>

                <ul class="col-md-8">
                    <li><img src="~/img/twitter.png" alt=""></li>
                    <li><img src="~/img/instagram.png" alt=""></li>
                    <li><img src="~/img/facebook.png" alt=""></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>