

<div class="modal" id="scheduleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Schedule", "Schedule", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.Hidden("ScheduleId", null)
                    <h3>Deseja confirmar o agendamento desta sessão de mentoria?</h3>
                    <strong>Instrutor: </strong> <span id="mentor"></span><br />
                    <strong>Tema: </strong> <span id="course"></span><br />
                    <strong>Data: </strong> <span id="date"></span><br />
                    <strong>Hora: </strong> <span id="time"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary yes">Confirmar</button>
                    <button type="button" class="btn btn-secondary no" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).on('shown.bs.modal', '#scheduleModal', function () {
        var scheduleId = $("#ScheduleId").val();
        $.ajax({
            url: '@Url.Action("Get", "Schedule")',
            type: 'GET',
            cache: false,
            data: { scheduleId }
        }).done(function (data) {
            $("#mentor").text(data.PartnerName);
            $("#course").text(data.Course);
            $("#date").text(data.ScheduleDate);
            $("#time").text(data.ScheduleTime);
        }).fail(function (e) {
            console.log(e);
        });
    });
    function setId(id) {
        $("#ScheduleId").val(id);
    }
</script>